:root    {
    --primary-text-color: #2e2f42;
    --text-color: #434455;
    --footer-text-color: #e7e9fc;
    --background-white-color: #f4f4fd;
    --iris-color: #4d5ae5;
    --white-color: #ffffff;
    --accent-color:  #404bbf  ; 
    --black-color: #111 ;
}

body {
    font-family: 'Roboto', sans-serif;
}

.site-link:hover {
    color: #404BBF;
}


.hero-section {
    background-color: var(--primary-text-color);
    width: 1440px;
height: 600px;  

;


}

.hero-section {
color: var(--accent-color);

}

.button-primery {
    border: none;
background-color: var(--iris-color); 
color: var(--white-color);

} 


.button-primery:hover {
    color: var(--white-color) ;
    background-color:var(--accent-color) ;
    cursor: pointer;
    border: none;
}

.team {
   
   
    background: var(--background-white-color)

}



.hero-title { 
    color: var(--white-color) ;
    background-color: var(--primary-text-color);
padding: 292px 472px;
padding-left: 472px;
padding-top: 188px;
padding-bottom: 292px;
padding-right: 472px;
}

.hero-portfolio {
background-color: var(--white-color);

}

.team {
    color: #111111;
}

.teams {

    color:  #111111;
}


.hero-portfolio {
    color:  #111111;

}

.start-mid {
color: #111111;

}

ul {
    list-style-type: none;
}