:root    {
    --primary-text-color: #2e2f42;
    --text-color: #434455;
    --footer-text-color: #e7e9fc;
    --background-white-color: #f4f4fd;
    --iris-color: #4d5ae5;
    --white-color: #ffffff;
    --accent-color:  #404bbf  ; 
    --black-color: #111 ;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--black-color);
}

.site-link {
    color: #404BBF;
    text-decoration: none;  
}


.site-link:hover {
    color: #404BBF;
   
}


.site-nav {
    text-decoration: none;
}

.logo{
    text-decoration: none;
    font-family: raleway, sans-serif;
    font-size: 18px;  
font-weight: 700;
line-height: 1.16;
color: var(--black-color);
}



.logo-text {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--iris-color);
}

.hero-section {
    background-color: var(--primary-text-color);
    width: 1440px;
height: 600px;  
color: var(--accent-color);

}


.section-text {
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5 ;
}


.button-primery {
    border: none;
height: 56px;
width: 169px;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
background: var(--iris-color);
color: var(--white-color);
border-radius: 4px;
border: 0px solid;
cursor: pointer;
}


.button-primery:hover  {
        background: var(--accent-color);
        color: var(--white-color);
}





.hero-title { 
    color: var(--white-color) ;
    background-color: var(--primary-text-color);
padding-left: 472px;
padding-top: 188px;
padding-bottom: 292px;
padding-right: 472px;
font-size: 56px;
font-weight: 700;
line-height: 60px; 
letter-spacing: 1.12px;
}

.hero-portfolio {
background-color: var(--white-color);

}

.team {
    color: #111111;
background-color: var(--background-white-color);
}
    

.teams {

    color:  #111111;
    font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
}


.hero-portfolio {
    color:  #111111;

}

.start-mid {
color: #111111;

}


a {
    text-decoration: none;
}

ul {
    color: #111;
    list-style-type: none;
}


 
.section-title {
    color: var(--primary-text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2 ;
}


/* footer  */

.footer-site {
    background-color: var(--primary-text-color);
width: 1440px;
height: 312px;
}
.footer-logo {
    text-decoration: none;
    font-family: raleway, sans-serif;
    color: var(--background-white-color);
    padding: 200px 101.5px 1169px 189.5px;
 }
  
  .footeцr-object {
    color: var(--iris-color);
    
  }
  
  .footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--background-white-color);
    font-family: Roboto;
font-weight: 400;
letter-spacing: 0.32px;
padding: 156px 140px 1020px 100px;
  }


 